[submodule "bundle/syntastic"]
	path = src/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "bundle/vim-javascript"]
	path = src/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/vim-sensible"]
	path = src/vim-sensible
	url = https://github.com/tpope/vim-sensible
